<ion-card>

  <ion-item lines="none">
    <div class="date">15/04/2021</div>
  </ion-item>
  <ion-item lines="none">
    <img class="image" src="assets/images/8.jpg" alt="">
    &nbsp;
    &nbsp;
    <div class="text">Phùng Thanh Hưng</div>
    <div class="detai-button">
      <button (click)="handleCallbackEvent()">Chi tiết</button>
    </div>

  </ion-item>
  <ion-item lines="none">
    <div>Nghỉ từ:</div>
    <div slot="end" class="date">8:00 16/04/2021</div>
  </ion-item>
  <ion-item lines="none">
    <div>Đến:</div>
    <div slot="end" class="date">17:00 18/04/2021</div>
  </ion-item>
  <ion-item lines="none">
    <div>Lý do:</div>
  </ion-item>
  <ion-item [style.fontSize.px]="12">
    <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, esse accusamus velit ratione cum qui dolores
      ipsa saepe, quia error, odio minus! Ducimus ipsa facere cumque numquam, reprehenderit voluptates vitae.</div>
  </ion-item>
  <ion-item>
    <div class="action-btn">
      <button>Đã phê duyệt</button>
      <br>
      <button>Nhắn tin</button>
    </div>
  </ion-item>

</ion-card>