<ion-header>
  <app-header
    [headerStyle]="header"
    [defaultHref]="'main/home/study'"
  ></app-header>
</ion-header>

<ion-item lines="none">
  <div class="calendar">
    <div class="date">
      <img
        src="assets/icon/pre-btn.svg"
        alt=""
        class="pre-btn"
        (click)="preWeek()"
      />

      {{startWeek | date: 'dd/MM-yyyy'}} - {{endWeek | date: 'dd/MM-yyyy'}}
      <img
        src="assets/icon/next-btn.svg"
        alt=""
        class="next-btn"
        (click)="nextWeek()"
      />
    </div>
    <div class="listDate">
      <div
        class="item"
        *ngFor="let item of listDate; let i = index"
        (click)="checkActive = i; listTimeTableByService(i)"
      >
        <span
          *ngIf="item.getFullYear()!=currentDate.getFullYear() || item.getMonth()!=currentDate.getMonth() || item.getDate()!=currentDate.getDate()"
          [class]="checkActive==i? 'active': ''"
          >{{item | date: "EEEEEE"}}</span
        >
        <span
          *ngIf="item.getFullYear()==currentDate.getFullYear() && item.getMonth()==currentDate.getMonth() && item.getDate()==currentDate.getDate()"
          class="today"
          >Hôm nay</span
        >
      </div>
    </div>
  </div>
</ion-item>

<ion-content class="timetable">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="session">
        <div class="session-item">
          <span> Sáng </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row
      class="detail-session"
      *ngFor="let item of listTimeTable$ | async, let i = index"
      (click)="openNoteLesson()"
    >
      <div class="lesson-component" *ngIf="item.LessonType == 1">
        <ion-col size="2">
          <div class="number">{{i+1}}</div>
        </ion-col>
        <ion-col size="10">
          <div class="lesson">
            <div class="label">Tiết 1:</div>
            <div class="subject">{{item.SubjectName}}</div>
            <img src="assets/icon/arrow-forward.svg" alt="" />
          </div>
          <div class="lesson">
            <div class="label">Phòng học:</div>
            <div class="room">Lớp {{item.RoomName}}</div>
          </div>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="session">
        <div class="session-item">
          <span> Chiều </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row
      class="detail-session"
      *ngFor="let item of listTimeTable$ | async, let i = index"
      (click)="openNoteLesson()"
    >
      <div class="lesson-component" *ngIf="item.LessonType == 2">
        <ion-col size="2">
          <div class="number">{{i+1}}</div>
        </ion-col>
        <ion-col size="10">
          <div class="lesson">
            <div class="label">Tiết 1:</div>
            <div class="subject">{{item.SubjectName}}</div>
            <img src="assets/icon/arrow-forward.svg" alt="" />
          </div>
          <div class="lesson">
            <div class="label">Phòng học:</div>
            <div class="room">Lớp {{item.RoomName}}</div>
          </div>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
