<ion-header>
  <app-header
    [headerStyle]="header"
    [defaultHref]="'main/home/study'"
  ></app-header>
</ion-header>
<ion-content class="timetable">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="calendar">
          <div class="date">
            <img
              src="assets/icon/pre-btn.svg"
              alt=""
              class="pre-btn"
              (click)="preWeek()"
            />

            {{startWeek | date: 'dd/MM-yyyy'}} - {{endWeek | date:
            'dd/MM-yyyy'}}
            <img
              src="assets/icon/next-btn.svg"
              alt=""
              class="next-btn"
              (click)="nextWeek()"
            />
          </div>
          <div class="listDate">
            
            <div class="item" *ngFor="let item of listDate">
              <span
                *ngIf="item.getFullYear()!=currentDate.getFullYear() || item.getMonth()!=currentDate.getMonth() || item.getDate()!=currentDate.getDate()"
                >{{item | date: "EEEEEE"}}</span
              >
              <span
                *ngIf="item.getFullYear()==currentDate.getFullYear() && item.getMonth()==currentDate.getMonth() && item.getDate()==currentDate.getDate()"
                class="active"
                >Hôm nay</span
              >
          
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="session">
        <div class="session-item">
          <span> Sáng </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row
      class="detail-session"
      *ngFor="let item of list, let i = index"
      [class]="i==list.length-1? 'last-session': ''"
      (click)="openNoteLesson()"
    >
      <ion-col size="2">
        <div class="number">{{i+1}}</div>
      </ion-col>
      <ion-col size="10">
        <div class="lesson">
          <div class="label">Tiết 1:</div>
          <div class="subject">Toán 6</div>
          <img src="assets/icon/arrow-forward.svg" alt="" />
        </div>
        <div class="lesson">
          <div class="label">Phòng học:</div>
          <div class="room">Lớp 6A1</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="session">
        <div class="session-item">
          <span> Chiều </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row
      class="detail-session"
      *ngFor="let item of list, let i = index"
      [class]="i==list.length-1? 'last-session': ''"
      (click)="openNoteLesson()"
    >
      <ion-col size="2">
        <div class="number">{{i+1}}</div>
      </ion-col>
      <ion-col size="10">
        <div class="lesson">
          <div class="label">Tiết 1:</div>
          <div class="subject">Toán 6</div>
          <img src="assets/icon/arrow-forward.svg" alt="" />
        </div>
        <div class="lesson">
          <div class="label">Phòng học:</div>
          <div class="room">Lớp 6A1</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
