<app-header [headerStyle]="header"></app-header>

<ion-content>
  <ion-card class="card-container">

    <ion-item lines="none" [style.fontSize.px]="14">
      <div class="date text">
        {{data?.CreatedOn | date: "dd/MM/yyyy"}}
      </div>
    </ion-item>
    <ion-item lines="none" [style.fontSize.px]="14">
      <div>Nghỉ từ:</div>
      <div slot="end" class="date">
        {{data?.FromDate | date: "h:mm, dd/MM/yyyy"}}
      </div>
    </ion-item>
    <ion-item lines="none" [style.fontSize.px]="14">
      <div>Đến:</div>
      <div slot="end" class="date">
        {{data?.ToDate | date: "h:mm, dd/MM/yyyy"}}
      </div>
    </ion-item>
    <ion-item lines="none" [style.fontSize.px]="14">
      <div>Lý do:</div>
    </ion-item>
    <ion-item [style.fontSize.px]="12">
      <div>
        {{data?.Description}}
      </div>
    </ion-item>
    <ion-item lines="none">
      <div class="action-btn">
        <button *ngIf="data?.Status === 1" class="approved-btn large-btn">Đã phê duyệt</button>
        <button *ngIf="data?.Status === 2" class="approve-btn large-btn">Phê duyệt</button>
        <button class="chat-btn large-btn">Nhắn tin</button>
      </div>
    </ion-item>

  </ion-card>
</ion-content>