.card-container {
    .date {
        font-style: 14px;
        font-weight: 500;
        color: #000;
    }

    ion-card {
        position: relative;
        .status {
            position: absolute;
            top: 11px;
            z-index: 10;
            right: 0;
            border-radius: 6px 0 0 6px;
            padding: 3px 10px 3px 27px;
            font-size: 12px;
            font-weight: 400;
            color: #ffffff;
        }
    }

    .image {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        object-fit: cover;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .text {
        margin-top: 7px;
        margin-bottom: 7px;
        font-weight: 600;
        font-size: 14px;
        width: 100%;
    }
    .detai-button {
        width: 50%;
        text-align: end;
        button {
            padding: 6px;
            width: 80px;
            background: #fff;
            border: 1px solid #c0c0c0;
            border-radius: 10px;
        }
    }

    ion-item {
        --min-height: 30px;
        --padding-end: 20px;
    }

    .action-btn {
        text-align: center;
        .approved-btn {
            color: white;
            background: #bdbdbd;
        }

        .approve-btn {
            color: white;
            background: var(--ion-color-primary);
        }

        .chat-btn {
            border: 1px solid var(--ion-color-primary-tint);
            background: var(--ion-color-primary-contrast);
        }
    }
}
