.noti-item {
    padding: 0 10px;
    h1 {
        font-size: 16px;
        font-weight: 600;
        color: #343434;
    }
    p {
        font-size: 14px;
        color: #707070;
        margin: 5px 0;
    }
}
