<ion-header>
    <ion-toolbar>
        <ion-title>contact-book</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card [routerLink]="['/main/home/contact-book/leave-application']">
                    <div class="icon">
                        <img src="assets/contact-book/donxin.svg" alt="">
                    </div>
                    <div class="title">Đơn xin nghỉ học</div>
                </ion-card>

            </ion-col>
            <ion-col size="12">
                <ion-card [routerLink]="['/main/home/contact-book/learning-outcomes']">
                    <div class="icon">
                        <img src="assets/contact-book/result-icon.svg" alt="">
                    </div>
                    <div class="title">Kết quả học tập</div>
                </ion-card>

            </ion-col>
            <ion-col size="12">
                <ion-card [routerLink]="['/main/home/contact-book/feedback']">
                    <div class="icon">
                        <img src="assets/contact-book/icon-feedback.svg" alt="">
                    </div>
                    <div class="title">Góp ý </div>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>