<ion-grid [class]="headerStyle.cssClass">
    <ion-row>
        <ion-col size="3" class="header-button">
            <div class="icon-left">
                <ion-buttons class="back-button" slot="start" *ngIf="headerStyle.type.backbutton ==='backbutton'">
                    <ion-back-button text="" icon="assets/svg/icon-backbutton.svg" [defaultHref]="defaultHref">
                    </ion-back-button>
                </ion-buttons>
                <div class="icon-home-left" *ngIf="headerStyle.type.backbutton !='backbutton'">
                    <img src="{{headerStyle.iconLeft}}" alt="" (click)="handleCallbackEvent($event)">
                    <span class="icon-center" *ngIf="headerStyle.type.image==='image' && headerStyle.type.isText">Hotline</span>
                </div>

            </div>
        </ion-col>

        <ion-col size="6" class="header-center" *ngIf="headerStyle.type.couple !='couple'">
            <img class="icon-center" *ngIf="headerStyle.type.image==='image'" src="{{headerStyle.iconCenter.image}}" alt="">
            <span [class]="headerStyle.classText" *ngIf="headerStyle.type.text==='text'">{{headerStyle.iconCenter.text}}</span>
        </ion-col>

        <ion-col size="6" class="header-center" *ngIf="headerStyle.type.couple==='couple'">
            <img class="icon-center-couple" src="{{headerStyle.iconCenter.image}}" alt="">
            <span [class]="headerStyle.classText">{{headerStyle.iconCenter.text}}</span>
        </ion-col>

        <ion-col size="3">
            <img class="icon-right" (click)="handleCallbackEvent($event)" src="{{headerStyle.iconRight}}" alt="">
        </ion-col>


    </ion-row>
</ion-grid>