<app-header [headerStyle]="header"></app-header>
<ion-content>
  <ion-grid class="menu">
    <ion-row>
      <ion-col size="12">
        <div class="calendar">
          <div class="date">
            <img src="assets/icon/pre-btn.svg" alt="" class="pre-btn" (click)="preWeek(); getDishMenu();" />

            {{startWeek | date: 'dd/MM-yyyy'}} - {{endWeek | date:
            'dd/MM-yyyy'}}
            <img src="assets/icon/next-btn.svg" alt="" class="next-btn" (click)="nextWeek(); getDishMenu();" />
          </div>
          <div class="listDate">

            <div class="item" *ngFor="let item of listDate">
              <span
                *ngIf="item.getFullYear()!=currentDate.getFullYear() || item.getMonth()!=currentDate.getMonth() || item.getDate()!=currentDate.getDate()">{{item
                | date: "EEEEEE"}}</span>
              <span
                *ngIf="item.getFullYear()==currentDate.getFullYear() && item.getMonth()==currentDate.getMonth() && item.getDate()==currentDate.getDate()"
                class="active">Hôm nay</span>

            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="menu-item">
        <div class="menu-lunch">
          <div class="menu-lunch-title">
            <h3>ĂN TRƯA</h3>
          </div>
          <div class="menu-lunch-item">
            <ion-col size="3">
              <img src="assets/svg/icon-menu-lunch.svg" alt="">
            </ion-col>
            <ion-col size="9">
              <ng-container *ngFor="let item of dishMenus">
                <span class="menu-lunch-text" *ngIf="item.DayValue === 1">{{item.DishName}}</span>
              </ng-container>
              <!-- <span class="menu-lunch-text">Cá diêu hồng chiên sốt cà chua</span>
              <span class="menu-lunch-text">Bò xào cần tỏi</span>
              <span class="menu-lunch-text">Bắp cải luộc gừng</span>
              <span class="menu-lunch-text">Canh rau ngót thịt bằm</span>
              <span class="menu-lunch-text">Cơm trắng</span>
              <span class="menu-lunch-text">Táo Mỹ</span> -->
            </ion-col>
          </div>
          <div class="menu-lunch">
            <div class="menu-lunch-title">
              <h3>ĂN PHỤ</h3>
            </div>
            <div class="menu-lunch-item">
              <ion-col size="3">
                <img src="assets/svg/icon-menu-lunch.svg" alt="">
              </ion-col>
              <ion-col size="9">
                <ng-container *ngFor="let item of dishMenus">
                  <span class="menu-lunch-text" *ngIf="item.DayValue === 2">{{item.DishName}}</span>
                </ng-container>
              </ion-col>
            </div>


          </div>

        </div>
      </ion-col>
      <div class="menu-description">
        <h3>Ghi chú:</h3>
        <span>
          <ng-container *ngFor="let item of dishMenus">
            <ng-container *ngIf="item.OldDishName && item.OldDishName.length !== 0">
              "{{item.OldDishName}}"
            </ng-container>
          </ng-container>
        </span>
      </div>
    </ion-row>

  </ion-grid>
</ion-content>
