.home {
  padding: 0 20px !important;
  .home-menu {
    background-color: #ff743a;
    height: 148px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    .menu-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        margin-top: 15px;
        font-size: 10px;
        color: white;
        font-weight: 600;
      }
    }
  }
  .post-title {
    color: #404040;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .home-posts {
    .post-item {
      display: flex;
      padding: 10px;
      box-shadow: 1px 1px 6px #e0e0e0;
      border-radius: 15px;
      margin-bottom: 15px;
      img {
        border-radius: 15px;
        width: 138px;
        height: 118px;
      }
      .post-item-text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        a {
          font-size: 14px;
          color: #171717;
          font-weight: 600;
          letter-spacing: 1px;
          text-decoration: none;
          line-height: 18px;
          text-decoration: none;
          width: 145px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 20px;
          -webkit-line-clamp: 3;
          height: 63px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
        span {
          color: #707070;
          font-size: 12px;
        }
      }
    }
  }
}
