<app-header [headerStyle]="header"></app-header>

<div class="home">
    <ion-row class="home-menu"
             *roles="'parents' else teacher">
        <ion-col size="3">
            <div class="menu-item"
                 [routerLink]="'contact-book'">
                <img src="assets/svg/icon-contact.svg"
                     alt="">
                <span>Sổ liên lạc</span>
            </div>
        </ion-col>
        <ion-col size="3">
            <div class="menu-item">
                <img src="assets/svg/icon-bustracker.svg"
                     alt="">
                <span>Bustracker</span>
            </div>
        </ion-col>
        <ion-col size="3">
            <div class="menu-item"
                 [routerLink]="'study'">
                <img src="assets/svg/icon-lms.svg"
                     alt="">
                <span>Học liệu</span>
            </div>
        </ion-col>
        <ion-col size="3">
            <div class="menu-item"
                 [routerLink]="'menu'">
                <img src="assets/svg/icon-menu.svg"
                     alt="">
                <span>Thực đơn</span>
            </div>
        </ion-col>
    </ion-row>
    <ng-template #teacher>
        <ion-row class="home-menu">
            <ion-col size="4">
                <div *roles="'teacher'"
                     class="menu-item"
                     [routerLink]="'contact-book'">
                    <img src="assets/svg/icon-contact.svg"
                         alt="">
                    <span>Sổ liên lạc</span>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="menu-item"
                     [routerLink]="'study'">
                    <img src="assets/svg/icon-lms.svg"
                         alt="">
                    <span>Học liệu</span>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="menu-item"
                     [routerLink]="'menu'">
                    <img src="assets/svg/icon-menu.svg"
                         alt="">
                    <span>Thực đơn</span>
                </div>
            </ion-col>
        </ion-row>
    </ng-template>
    <h1 class="post-title">Tin tức nổi bật</h1>
</div>

<ion-content>
    <ion-grid class="home">
        <ion-row class="home-posts">
            <ion-col size="12">
                <ng-container *ngFor="let item of news">
                    <div class="post-item"
                         [routerLink]="item.URLLink">
                        <img src="{{item.MediaURL}}"
                             alt="">
                        <div class="post-item-text">
                            <h3>{{item.Title}}</h3>
                            <span>{{item.CreatedOn | date:'shortDate'}}</span>
                        </div>
                    </div>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>