<ion-header>
  <app-header [headerStyle]="header" (callback)="closeModal()"></app-header>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <textarea class="content-input" rows="3" placeholder="Nhập nội dung"></textarea>
  </ion-item>
  <ion-item lines="none" class="search-block">
    <div class="search-input">
      <div class="title">Tới:</div>
      &nbsp;
      &nbsp;
      <ion-input (keyup)="searchAccount($event)" placeholder="Nhập tên người dùng"></ion-input>
      <img src="assets/svg/icon-search.svg" alt="">
    </div>
    &nbsp;
    &nbsp;
    <img class="message-icon" src="assets/svg/voice message.svg" alt="">
  </ion-item>
  <ion-item lines="none">
    Gợi ý
  </ion-item>
  <ion-item class="all-team" lines="none">
    <div>
      <ion-item *ngIf="!isHidden" class="header-line">All team</ion-item>
      <div class="list-block">
        <div *ngIf="!isHidden" class="recent-text">Gần đây</div>
        <app-base-list-item [data]="fakeData"></app-base-list-item>
      </div>
    </div>
  </ion-item>


</ion-content>