ion-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 77px;
    border-radius: 20px;
    border: 1px solid #FF9569;
    margin-top: 16px;
    margin-bottom: 0px;
    .title {
        text-align: center;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
    }
    .icon {
        position: absolute;
        background-color: #FF4C01;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: -35px;
        top: -35px;
        img {
            position: absolute;
            right: 25px;
            bottom: 20px;
            z-index: 0;
        }
    }
}