<app-header [headerStyle]="header"></app-header>
<ion-content>
  <ion-grid class="profile">
    <ion-row>
      <ion-col size="12" class="profile-item">
        <img *ngIf="avt == null" class="profile-image" src="{{profileInfo.StudentMediaURL}}" alt="">
        <img *ngIf="avt" class="profile-image" src="data:image/png;base64,{{avt}}" alt="">
        <label for="profile" (click)="changePhoto()">
          <img src="assets/svg/icon-upload.svg" alt="">
        </label>
      </ion-col>

    </ion-row>
    <ion-row>
      <h1 class="profile-title">Thông tin cá nhân</h1>
      <ion-col size="12">
        <div class="profile-info">
          <span>Họ tên</span>
          <p>{{profileInfo.StudentPhone}}</p>
        </div>
        <div class="profile-info">
          <span>Lớp:</span>
          <p>{{profileInfo.ClassName}}</p>
        </div>
        <div class="profile-info">
          <span>Tên PH:</span>
          <p>{{profileInfo.LastName}}</p>
        </div>
        <div class="profile-info">
          <span>SĐT học sinh:</span>
          <p>{{profileInfo.StudentPhone}}</p>
        </div>
        <div class="profile-info">
          <span>SĐT phụ huynh:</span>
          <p>{{profileInfo.Phone}}</p>
        </div>
        <div class="profile-info">
          <span>Địa chỉ nhà:</span>
          <p>{{profileInfo.LocationAddress}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>