/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-searchbar {
    --background: #fff0ea !important;
    --border-radius: 10px;
    .searchbar-input-container {
        border: 2px solid #ffbea2;
        border-radius: 13px;
        input {
            font-size: 12px !important;
            font-family: Arial, Helvetica, sans-serif;
            color: var(--ion-color-custom-grey);
            font-weight: 600;

            &::placeholder {
                font-size: 12px !important;
                font-family: Arial, Helvetica, sans-serif;
                color: var(--ion-color-custom-grey);
                font-weight: 700;
            }
        }
        ion-icon {
            left: unset !important;
            right: 10px !important;
            // background-image: url("assets/icon/search-bar.svg") !important;
        }
    }
}

.large-btn {
    width: 75vw;
    padding: 8px;
    border-radius: 7px;
    margin: 7px auto;
}
